<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Link CSS using flask function called url4-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- This allows us to use this template on every html file without having to repeat this stuff-->
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>