{% extends "base.html" %} 

{% block title %} 
    About Us
{% endblock %}

{% block content %}

<header class="w3-container w3-yellow w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo"> - Our Mission - </h1>
  <p class="w3-xlarge"> To provide data visualisations for eye clinicians on visual field data </p>
</header>


<div class="w3-row-padding w3-padding-64 w3-container">
	<div class="w3-content">
    	<div class="w3-twothird">
    		<h1> About Us </h1>
    		<h5 class="w3-padding-8 w3-text-grey"> Our project team consists of six university students completing the CITS3200 unit. Each of us comes from a different computer science background, with a diverse range of skills in this area. We are working with eye clinicians and specialists around Western Australia and are overseen by a University Doctorate for the entirety of the project. </h5>
    		<br> </br>
    		<h1> The Project </h1>
    		<h5 class="w3-padding-8 w3-text-grey"> In Western Australia, massive amounts of visual field data has been collected in the past 20 years across various eye clinics. This data holds the keys to understand different the different types of visual losses and the possible trends associated.
			<br> </br>
    		This visual field data has been collected with devices such as Humphery Machines and store discrete data points with respect to the patient's eye for measurement. Our project team has designed and built a data warehouse to store the visual field data and analysed the data. This will allow eye clinicians to utilise this interface, seeing visual loss trends, patient progress, impacts to visual loss and search as needed.

    		<br> </br>
    		
{% endblock %}
<br> </br>
