<style>
    html {
        position: relative;
        min-height: 100%;
    }   
    body {
        margin-bottom: 60px;
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-color: #FDFFDA;
    }
</style>

<!-- Footer -->
<footer class="footer">
    <div class="container text-center">
        <a href="https://github.com/CITS3200-GROUP19/CITS3200" style="color:black;">© CITS3200 Team 19</a>
    </div>
</footer>
